.image-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.image-container img#background-blog {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container img#portrait-chat {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
}

ul.sub-menu {
    width: 250px !important;
}

li.notification-connection{
    background: red;
}

.mt-150 {
    margin-top: 150px;
}

.headband-top {
    background: url("/public/assets/texture.jpg") center;
}

.headband-bottom {
    background: url("/public/assets/texture.jpg") bottom /cover;
}

.comment-container{
    width: 50%;
    margin: 0 auto;
}

textarea{
    resize: none !important;
}
